<div class="flex justify-center items-center">
    <form 
      class="bg-gray-900 p-6 rounded-lg shadow-md w-full max-w-md"
      [formGroup]="editForm"
      (ngSubmit)="onSubmit()"
    >
      <h2 class="text-2xl font-semibold text-center mb-4">Edit User</h2>
  
      <div class="space-y-8">
        <p-floatlabel>
          <input 
            type="text" 
            formControlName="username"
            pInputText
            id="username"
            class="w-full"
          >
          <label for="over_label">Enter Username</label>
        </p-floatlabel>
  
        <p-floatlabel>
          <input 
            type="text" 
            formControlName="password"
            pInputText
            id="password"
            class="w-full"
          >
          <label for="over_label">Enter Password (Min 6 characters)</label>
        </p-floatlabel>
  
        <p-floatlabel>
          <input 
            type="text" 
            formControlName="passwordConfirm"
            pInputText
            id="passwordConfirm"
            class="w-full"
          >
          <label for="over_label">Confirm Password</label>
        </p-floatlabel>
      </div>
  
      <div class="flex justify-center mt-4">
        <p-button 
          type="submit" 
          label="Submit" 
          class="w-full max-w-xs flex justify-center" 
          [disabled]="editForm.invalid"
        />
      </div>
  
      <p *ngIf="errorMessage() && !successMessage()" class="text-red-600 text-center mt-2">
        {{ errorMessage() }}
      </p>
  
      <p *ngIf="successMessage() && !errorMessage()" class="text-green-600 text-center mt-2">
        {{ successMessage() }}
      </p>
    </form>
  </div>
  